html {
    background-color: #121212;
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff; /* texto blanco */
    font-family: Arial, sans-serif;
}

.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    margin-bottom: 10px;
    color: #ffffff;
}

.buttons button {
    margin: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #bb86fc;
    color: #000;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.resultado {
    margin-top: 30px;
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}
